<div  class="well well-lg" ng-class="{compare: site === 'compare', engage: site === 'engage'}">
    <div class="row">
        <div class="col-xs-6-offset-1">
            <h2 class="text-right">
                <!-- File-Sharing -->
                <button ng-click="stepActive='metadataActive'"
                        class="btn btn-fab btn-raised btn-material-red-900">
                   <i class="mdi-action-language"></i>
                </button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3 class="text-left">
                <button ng-click="metadataActive = !metadataActive"
                        class="btn btn-fab btn-raised"
                        ng-class="{'btn-material-light-green-700' : !metadataActive,
                                   'btn-material-green-900' : metadataActive}">
                    <i class="mdi-file-cloud-download"></i>
                </button>
                <strong ng-show="metadataActive">File Server</strong>
                <span ng-hide="metadataActive">File Server</span>
            </h3>
        </div>
        <h3 class="col-xs-6" >
            <p class="container">
                <div class="row">
                    <p class="text-right col-xs-6 col-xs-offset-6">
                        <i ng-show="metadataExampleCollapsed" role="button" class="material-white mdi-navigation-expand-more" ng-click="metadataExampleCollapsed = !metadataExampleCollapsed">
                        </i>
                        <i ng-hide="metadataExampleCollapsed" role="button" class="material-white mdi-navigation-expand-less" ng-click="metadataExampleCollapsed = !metadataExampleCollapsed">
                        </i>
                        Info
                    </p>
                </div>
            </p>
        </h3>
    </div>
    <div collapse="metadataExampleCollapsed">
        <table class="table">
        <p style="font:smaller">
            <p>The table bellow shows an overview of the files uploaded to the server, along with metadata of each sample.</p>
            <p>Here you can download individual files <i class="mdi-file-file-download"></i> and their metadata, or simple filter the table and download a CSV file with you selection</p>
            <p> On the upper right corner of the table bellow there is a menu  <i class="glyphicon glyphicon-menu-hamburger"></i> with the following options:
                <ul>
                    <li>Clear all filter applied to the columns</li>
                    <li>Export all metadada to a CSV file</li>
                    <li>Export metadata visible after filtering to a CSV file</li>
                    <li>Hide/Show selected columns</li>
                </ul>
             </p>
        </p>
          <thead>
            <tr>
              <th ng-repeat="column in columnsExample">{{column}}</th>
            </tr>
          </thead>
          <tbody>
              <tr class="danger" ng-repeat="isolate in valuesExample" style="font:smaller">
                <td ng-repeat="(key, value) in isolate">
                    <strong>{{ value }}</strong>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
</div>
<div ng-show="error"
     class="well well-lg text-center"
     ng-class="{'well-material-orange': error}">
    <h3>
        <p style="color:#B71C1C">
            <i role="button"
               class="mdi-action-account-circle">
            </i>
            <strong>{{errorMessage}}</strong>
        </p>
    </h3>
</div>
<div ui-grid="gridOptions" class="myGrid" ui-grid-auto-resize ui-grid-exporter ui-grid-resize-columns></div>
<p id="test"></p>
