<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <!-- <h4><a class="btn btn-lg btn-success" ng-href="#/ringtrials">Rings!<span class="glyphicon glyphicon-ok"></span></a><h4>
  <h4><a class="btn btn-lg btn-success" ng-href="#/batchuploader">Rings!<span class="glyphicon glyphicon-ok"></span></a><h4>
  <h4><a class="btn btn-lg btn-success" ng-href="#/serviceuploader">Rings!<span class="glyphicon glyphicon-ok"></span></a><h4> -->
  <h2>Questions:</h2>
  <ul>
      <li><h3>Metadata captured for COMPARE:</h3>
          <ul>
              <li><h4>Attributes?<h4></li>
              <li><h4>Mandatory fields?<h4></li>
          </ul>
      </li>
      <li><h3>Metadata captured for ENGAGE:</h3>
          <ul>
              <li><h4>Attributes?<h4></li>
              <li><h4>Mandatory fields?<h4></li>
          </ul>
      </li>
      <li><h3>Download:</h3>
          <ul>
              <li><h4>What to display?</h4>
                  <ul>
                      <li><h4>samples plus user who uploaded?<h4></li>
                      <li><h4>users and expandable view to show their metadata?<h4></li>
                      <li><h4>global metadata?<h4></li>
                  </ul>
              </li>
              <li><h4>How to display it?</h4>
                  <ul>
                      <li><h4>by user?<h4></li>
                      <li><h4>by sample?<h4></li>
                      <li><h4>other criteria...<h4></li>
                  </ul>
              </li>
          </ul>
      </li>
  </ul>
  <h2>Rene's whishlist:</h2>
  <ul>
      <li><h4><i class="glyphicon glyphicon-ok"></i>To change the header of the upload / download page from CGE to Compare and one for Engage.<h4></li>
      <li><h4><i class="glyphicon glyphicon-ok"></i>To include “user” in the data string for uploads.<h4></li>
      <li><h4><i class="glyphicon glyphicon-ok"></i>To create a tool to generate an overall Excel file of all data submitted – should allow for filtering.<h4></li>
      <li><h4><i class="glyphicon glyphicon-hourglass"></i>To download to own computer interesting genome files based on the Excel filtering.<h4></li>
      <li><h4><i class="glyphicon glyphicon-remove"></i>To prepare at least 20 logins for Compare and 10 for Engage which we could easily distribute on request.<h4></li>
      <li><h4><i class="glyphicon glyphicon-hourglass"></i>To ensure at least one user access without the user being kicked off when new users login. Preferable access of multiple users at the same time.<h4></li>
      <li><h4><i class="glyphicon glyphicon-ok"></i>To allow access from outside of DTU – should be possible in two days.<h4></li>
      <li><h4><i class="glyphicon glyphicon-remove"></i>To have Rolf and Oksana test the features before going live.<h4></li>
  </ul>
</div>
